#puzzles-main{
    margin-bottom: 100px;
}

#solving-main {
    margin-bottom: 100px;
    min-height: 775px;
}

#quit-button-section{
    float: right;
    margin: auto;
    width: 100px;
}

#quit-button, #logout-button, #finish-button{
    padding: 10px 20px;
    color: #ffffff;
    text-shadow: 0 1px 1px #00000033;
}

#quit-button{
    background: #d21a1a;
}

#logout-button{
    background: #ca3c3c;
}

#finish-button{
    margin: 20px 124px;
    background-color: #319d0a;
}

.header1-text{
    font-size: 2em;
    text-align: center;
    margin-left: 100px;
}

.continue-button {
    margin: 20px 117px;
}

.sudoku-table-section { 
    margin: 25px 110px;
    display: inline flow-root list-item;
    list-style: none;
}

#solve-sudoku-section{
    margin: 20px auto;
    width: 410px;
}

table {
    border-collapse: collapse; 
    border-spacing: 0; 
    font-family: 'comic sans ms', 'bauhaus 93';
    font-size: 1.7em;
}

tr:first-child td {
	border-top: 5px solid black;
	border-top-color: black;
}

tr:nth-child(3n) td {
	border-bottom: 5px solid black;
}

td {
	border: 2px solid #a0999991;
	height: 40px;
	width: 40px;
}

td:first-child {
	border-left: 5px solid black;
}

td:nth-child(3n) {
	border-right: 5px solid black;
}

input {
	padding: 0;
	text-align: center;
	border: 0;
	height: 40px;
	width: 40px;
	text-align: center;
}

input:focus {
    background: #a0999991;
	outline: none;
}

input:hover {
	background: #a0999991;
    cursor: pointer;
}

#start-new-button-section {
    margin: auto;
    width: 163px;
}

#start-new-puzzle-button {
    display: none;
}

#timer {
    font-size: 48px;
    margin:0 auto;
    width: 375px;
    font-family: 'comic sans ms', 'bauhaus 93';
}
  
#controls {
    margin:0 auto;
    width: 210px;    
}
  
#controls button {
    font-size:24px;
}

.footer-class {
    background-color: #042058;
}

.footer-team-label {
    margin: 0 auto;
    width: 735px;
    display: block;
    padding: 20px;
    font-family: 'comic sans ms';
    font-size: 16px;
    color: #fff;
}